/env/
/.vs/Deep-Learning-Classify-Images-Clothing/FileContentIndex/merges/68fa685c-e19b-42a9-b66b-e9ef92477f60.vsidx
/.vs/Deep-Learning-Classify-Images-Clothing/FileContentIndex/98672801-8ab0-4b3a-b468-291ca13894bd.vsidx
/.vs/Deep-Learning-Classify-Images-Clothing/v17/.suo
/.vs/Deep-Learning-Classify-Images-Clothing/FileContentIndex/2c0b495c-bc31-4958-97b9-a3f71c338b15.vsidx
/.vs/Deep-Learning-Classify-Images-Clothing/FileContentIndex/0484f95c-66a1-4201-a4f9-a726a7a1a6d8.vsidx
/.vs/Deep-Learning-Classify-Images-Clothing/FileContentIndex/c91c7226-2d04-4c65-9608-0923948a22a5.vsidx
/.vs/Deep-Learning-Classify-Images-Clothing/FileContentIndex/4a5bba9d-e870-49d7-8cf0-899b61e78441.vsidx
/.vs/Deep-Learning-Classify-Images-Clothing/FileContentIndex/fb92d5b8-71da-461d-861b-7e9c9748148f.vsidx
*.vsidx
/.vs/Deep-Learning-Classify-Images-Clothing/FileContentIndex/read.lock
